# Impact of COVID-19 on Indian Economy from the Perspective of Indian Stock Market

**Name: Suraj Prakash Sharma**  
**Registeration Number: BLENP2DSC20038**  
**Batch: M.Tech Data Science (2020-2022)**  

### Objective
* **This project is an analysis based on the publicly available datasets related to COVID-19, Indian Stock Market Price Action Dataset, Volatility Prices and Oil Prices. The goal is to examine the behaviour of Indian Stock Market from Jan 2020 to Dec 2020 and how it was impacted due to COVID-19, Oil Price War between Russia and Saudi Arabia, Lockdowns due to COVID-19 and other major events happened during the period.**  

### Introduction

* Indian stock market saw one of the biggest falls in its history i.e. **BSE SENSEX and NIFTY-50 corrected sharply by 38% in March 2020**, more specifically this crash was another major crash after the Global Financial Crisis of 2008 which was due to fall in the Housing Price in the USA.
* COVID-19 had a brutal and dramatic impact on financial markets all over the world. It has exposed investors to unprecedented levels of risks causing investors all over the world to suffer significant losses in a very short period of time. 

* The idea was that if you want to measure/gauge the behaviour of the stock market then you look at the different indices listed in the exchanges as indices are the best way to measure how the whole market or a section/sector of the market is performing. Market indices are classified on the basis of broader/benchmark market indices and sector indices majorly and every exchange has its own set of indices.
* Indian Stock Market has two major exchanges namely National Stock Exchange and Bombay Stock Exchange and there are more than 5000 companies listed on both the exchanges and monitored by the market regulator SEBI. So to gauge the market we need to look at the price action of benchmark indices and sector indices. There are various indices but the most famous and concise indices are SENSEX of Bombay Stock Exchange(BSE) and NIFTY-50 of National Stock Exchange(NSE). There is another index known as INDIA VIX which is a way to gauge the volatility in the Indian market. Volatility is a very important parameter in order to understand whether on a given market session or time period the investors are afraid or greedy when doing trading in the market.  
* The stock market in the short term can be considered as a sentiment index of an economy and it's a way to measure the emotions of an economy. If you look at the stock market benchmark indices after March 2020, you will see a very quick recovery in the market and selected sectors like IT, Pharmaceuticals due to which it is hard to answer the question whether COVID-19 has impacted the market or not just on the basis of data?  
* The main goal of the project is to identify/quantify the relationship between the COVID-19 and other major events which are a direct or indirect consequence of COVID-19 and its impact on the Indian Economy by studying, visualising, and establishing relationships between the Indian Stock Market Indices (NIFTY-50 and SENSEX), COVID-19 cases and deaths around the world, lockdowns imposed by the governments and various other events.

* This report stays away from making prediction on Indian financial markets because a huge proportion of Indian economy is unorganized. With limited time and infrastructure, it is really hard to make any short term predictions of the stock market because upside and downside in a short term or long term depends upon various factors like economic, social, technology, climate, businesess etc.

* **The efficient-market hypothesis (EMH) is a hypothesis in financial economics that states that asset prices reflect all available information. A direct implication is that it is impossible to "beat the market" consistently on a risk-adjusted basis since market prices should only react to new information. The idea that financial market returns are difficult to predict goes back to [Bachelier (1900)](https://en.wikipedia.org/wiki/Efficient-market_hypothesis#cite_note-3), [Mandelbrot (1963)](https://en.wikipedia.org/wiki/Benoit_Mandelbrot), and [Samuelson (1965)](https://en.wikipedia.org/wiki/Paul_Samuelson), but is closely associated with [Eugene Fama](https://en.wikipedia.org/wiki/Eugene_Fama), in part due to his influential 1970 review of the theoretical and empirical research.**

### Importing The Required Libraries

* First we are importing all the important libraries which are required for the project.
* Some of the libraries are pretty common when it comes to Data Analysis in Python like `numpy, pandas, matplotlib, seaborn and scikit-learn`.
* For this project we needed some additional libraries in order to extract the data from 3rd party services in order to generate insights whose information is as follows:
    * `Quandl`: Its one of the most used libraries which provides data about different tradable securities in the stock market given that those data must be available to the non-premium users. I have used this libraries in order to extract the data about two commodities and one benchmark index as these three securities (**Brent Crude Oil, WTI Crude Oil, SENSEX**) were highly affected by COVID-19.

    * `pytrends`: Its one of the libraries which is used in order to extract the Google Trends data through which we can gauge the sentiment of the users when they use Google Search. The data is provided by Google and this library you can think of as a wrapper aroung the Google Trends API.

* For doing the visualisation I have heavily used `Plotly` because it provides interactive maps which is important from the project perpective and whenever I needed to do any statistical measures I have used seaborn beacause this library is mostly known for doing statistical analysis of data.

* **NOTE**: For using `Quandl`, I needed a API key in order to send the request to their servers thats why there is a small piece of code in the following cell where I am reading the data from a text file which is API key provided to me for security reasons.

In [1]:
"""
NOTE: Do run the following cell before executing the project so that all the external dependencies are installed
through pip.
"""
!python3 -m pip install -r requirements.txt

Requirement already satisfied: numpy in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.19.4)
Requirement already satisfied: pandas in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.1.4)
Requirement already satisfied: matplotlib in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (3.3.3)
Requirement already satisfied: seaborn in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: plotly in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 5)) (4.13.0)
Requirement already satisfied: scikit-learn in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 6)) (0.23.2)
Requirement already satisfied: quandl in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 7)) (3.5.3)
Requirement already satisfied: pytrends in /home/striker/.local/lib/python3.8/site-packages (from -r requirements.txt (line 8)) (4.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas->-r requirements.txt (line 2)) (2.7.3)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas->-r requirements.txt (line 2)) (2019.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/striker/.local/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 3)) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/striker/.local/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/striker/.local/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib->-r requirements.txt (line 3)) (7.0.0)
Requirement already satisfied: scipy>=1.0 in /home/striker/.local/lib/python3.8/site-packages (from seaborn->-r requirements.txt (line 4)) (1.5.4)
Requirement already satisfied: six in /home/striker/.local/lib/python3.8/site-packages (from plotly->-r requirements.txt (line 5)) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /home/striker/.local/lib/python3.8/site-packages (from plotly->-r requirements.txt (line 5)) (1.3.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/striker/.local/lib/python3.8/site-packages (from scikit-learn->-r requirements.txt (line 6)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /home/striker/.local/lib/python3.8/site-packages (from scikit-learn->-r requirements.txt (line 6)) (0.17.0)
Requirement already satisfied: inflection>=0.3.1 in /home/striker/.local/lib/python3.8/site-packages (from quandl->-r requirements.txt (line 7)) (0.5.1)
Requirement already satisfied: requests>=2.7.0 in /usr/lib/python3/dist-packages (from quandl->-r requirements.txt (line 7)) (2.22.0)
Requirement already satisfied: more-itertools in /usr/lib/python3/dist-packages (from quandl->-r requirements.txt (line 7)) (4.2.0)
Requirement already satisfied: lxml in /usr/lib/python3/dist-packages (from pytrends->-r requirements.txt (line 8)) (4.5.0)

In [2]:
import numpy as np
import pandas as pd
import quandl # Quandl is python library using which I can get data about any financial instrument.
from pytrends.request import TrendReq # pytrends is a library used for extracting the data from Google Trends to understand what topics people are more interested in during Google Search.

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

QUANDLE_API_KEY = ""
quandle_api_key_filepath = 'Quandle-API-KEY.txt'
with open(quandle_api_key_filepath) as api_data:
    QUANDLE_API_KEY = api_data.read().strip()
quandl.ApiConfig.api_key = QUANDLE_API_KEY

### Listing down all the files and folders in the `Final-Datasets` folder.
* The following cell lists down all the data as `.csv` files which I needed to generate the insights.
* The information about all the datasets is given later.

In [3]:
# !dir Final-Datsets/ # For Windows OS
!ls -all Final-Datasets/

total 13956
drwxr-xr-x 2 striker striker     4096 Jan 12 19:06 .
drwxrwxr-x 5 striker striker     4096 Feb  3 15:47 ..
-rw-rw-r-- 1 striker striker    13864 Dec 17 23:54 CBOE-Crude-Oil-VIX.csv
-rw-rw-r-- 1 striker striker    30694 Dec 17 23:41 India-VIX-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:38 NIFTY-50-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:33 NIFTY-50-Price-Action.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:34 NIFTY-Auto-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:38 NIFTY-Auto-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:35 NIFTY-Bank-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:39 NIFTY-Bank-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:35 NIFTY-FMCG-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:39 NIFTY-FMCG-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:35 NIFTY-IT-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:39 NIFTY-IT-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:36 NIFTY-Media-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    13213 Dec 17 23:40 NIFTY-Media-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:36 NIFTY-Pharma-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:40 NIFTY-Pharma-Index-Ratios.csv
-rw-rw-r-- 1 striker striker    27044 Dec 17 23:37 NIFTY-Realty-Index-Price-Action.csv
-rw-rw-r-- 1 striker striker    14368 Dec 17 23:40 NIFTY-Realty-Index-Ratios.csv
-rw-rw-r-- 1 striker striker 13873142 Dec 26 20:58 OWID-COVID-19-Dataset.csv

## About the Dataset
* For the project I have extracted the datasets of price actions of SENSEX, NIFTY50, INDIA VIX, COVID-19 Total Deaths and Cases Worldwide, and also the price actions of some of the sector indices which are heavily impacted due to COVID-19 i.e. NIFTY-AUTO, NIFTY-IT, NIFTY-PHARMA, NIFTY-BANK, NIFTY-MEDIA, NIFTY-REALTY, NIFTY-FMCG.
* As the Oil Price War between Saudi Arabia and Russia has also impacted the market I have also used the Crude Oil WTI and BRENT Europe Price Data with CBOE-Crude-Oil Volatilty dataset. 
* For some of the datasets I have used a python library `Quandl` which provides access to price actions of various financial securities/instruments as described in the above cells.

* Following table shows a summary of all the datsets with their source:

| Sr.No | Name of Dataset | Source |
| --- | --- | --- |
| 1 | COVID-19-Dataset | [Our World In Data COVID-19 Dataset](https://github.com/owid/covid-19-data/tree/master/public/data) |
| 2 | Crude Oil WTI Price Index | Fetched through `quandl`|
| 3 | BRENT Europe Crude Oil Price Index| Fetched through `quandl`|
| 4 | VIX index of OVX (ETF on Crude Oil)| [CBOE Crude Oil Volatility Index (^OVX)](https://finance.yahoo.com/quote/%5EOVX/)|
| 5 | INDIA-VIX | [INDIA-Volatility Index (INDIA VIX)](https://www1.nseindia.com/products/content/equities/indices/historical_vix.htm)|
| 6 | NIFTY-50 | [NIFTY-50-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 7 | BSE-SENSEX | Fetched through `quandl`|
| 8 | NIFTY-IT | [NIFTY-IT-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 9 | NIFTY-PHARMA| [NIFY-Pharma-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm) |
| 10 | NIFTY-FMCG | [NIFTY-FMCG-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 11 | NIFTY-Auto | [NIFTY-Auto-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 12 | NIFTY-Media| [NIFTY-Media-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 13 | NIFTY-Bank| [NIFTY-Bank-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 14 | NIFTY-Realty| [NIFTY-Realty-Index-Data](https://www1.nseindia.com/products/content/equities/indices/historical_index_data.htm)|
| 15 | Google Trends | Fetched using `pytrends` |

**NOTE**
* The datasets listed above are final datasets (subject to change as it is a time-series) data.
* I have not included one more dataset on which I am working on i.e. Twitter Dataset as it requires more time in order to implement Association Rule Mining algorithm to find out words people are most using whenever they tweet during the COVID-19 period.

### 1. Data-Preprocessing Stage

#### Initialising the variables with the paths to the datasets for easy creation of the dataframe.
* `nifty_50_filepath`: Stores the filepath of the NIFTY-50 Price Action Dataset.
* `nifty_50_ratio_filepath`: Stores the filepath of the P/E, P/B, Dividend Yield of NIFTY-50 Dataset.
* `nifty_auto_index_filepath`: Stores the filepath of NIFTY-Auto Index Price Action Dataset.
* `nifty_auto_index_ratio_filepath`: Stores the filepath of P/E, P/B, Dividend Yield of NIFTY-Auto Index.
* `nifty_bank_index_filepath`: Stores the filepath of NIFTY-Bank-Index Price Action Dataset.
* `nifty_bank_index_ratio_filepath`: Stores the filepath of P/E, P/B, Dividend Yield of NIFTY-Bank Index.
* `nifty_fmcg_index_filepath`: Stores the filepath of NIFTY-FMCG-Index Price Action Dataset.
* `nifty_fmcg_index_ratio_filepath`: Stores the filepath of P/E, P/B, Dividend Yield of NIFTY-FMCG Index.
* `nifty_it_index_filepath`: Stores the filepath of NIFTY-IT-Index Price Action Dataset.
* `nifty_it_index_ratio_filepath`: Stores the filepath of P/E, P/B, Dividend Yield of NIFTY-IT Index.
* `nifty_pharma_index_filepath`: Stores the filepath of NIFTY-Pharma Index Price Action Dataset.
* `nifty_pharma_index_ratio_filepath`: Stores the filepath of P/E, P/B, Dividend Yield of NIFTY-Pharma Index.
* `nifty_media_index_filepath`: Stores the filepath of NIFTY-Media Index Price Action Dataset.
* `nifty_media_index_filepath`: Stores the filepath of of P/E, P/B, Dividend Yield of NIFTY-Media Index.
* `nifty_realty_index_filepath`: Stoers the filepath of NIFTY-Realty Index Price Action Dataset.
* `nifty_realty_index_filepath`: Stores the filepath of P/E, P/B, Dividend Yield of NIFTY-Realty Index.
* `india_vix_filepath`: Stores the filepath of dataset consist of VIX numbers of India Stock Markets.
* `cboe_crude_oil_filepath`: Stores the filepath of dataset consist of VIX numbers of Oil Prices.
* `covid_19_filepath`: Stores the filepath of dataset consits of total COVID-19 cases, deaths and other features.

**The following cells will contain the code related to preprocessing and combining of data before doing EDA on it.**

In [4]:
nifty_50_filepath = "Final-Datasets/NIFTY-50-Price-Action.csv"
nifty_50_ratios_filepath = "Final-Datasets/NIFTY-50-Index-Ratios.csv"

nifty_auto_index_filepath = "Final-Datasets/NIFTY-Auto-Index-Price-Action.csv"
nifty_auto_index_ratios_filepath = "Final-Datasets/NIFTY-Auto-Index-Ratios.csv"

nifty_bank_index_filepath = "Final-Datasets/NIFTY-Bank-Index-Price-Action.csv"
nifty_bank_index_ratios_filepath = "Final-Datasets/NIFTY-Bank-Index-Ratios.csv"

nifty_fmcg_index_filepath = "Final-Datasets/NIFTY-FMCG-Index-Price-Action.csv"
nifty_fmcg_index_ratios_filepath = "Final-Datasets/NIFTY-FMCG-Index-Ratios.csv"

nifty_it_index_filepath = "Final-Datasets/NIFTY-IT-Index-Price-Action.csv"
nifty_it_index_ratios_filepath = "Final-Datasets/NIFTY-IT-Index-Ratios.csv"

nifty_pharma_index_filepath = "Final-Datasets/NIFTY-Pharma-Index-Price-Action.csv"
nifty_pharma_index_ratios_filepath = "Final-Datasets/NIFTY-Pharma-Index-Ratios.csv"

nifty_media_index_filepath = "Final-Datasets/NIFTY-Media-Index-Price-Action.csv"
nifty_media_index_ratios_filepath = "Final-Datasets/NIFTY-Media-Index-Ratios.csv"

nifty_realty_index_filepath = "Final-Datasets/NIFTY-Realty-Index-Price-Action.csv"
nifty_realty_index_ratios_filepath = "Final-Datasets/NIFTY-Realty-Index-Ratios.csv"

india_vix_filepath = "Final-Datasets/India-VIX-Price-Action.csv"
cboe_crude_oil_filepath = "Final-Datasets/CBOE-Crude-Oil-VIX.csv"

covid_19_filepath = "Final-Datasets/OWID-COVID-19-Dataset.csv"

### 1.1 Fetching the data from either `.csv` file or `quandl` in a particular time-frame.

In [5]:
crude_oil_wti_df = quandl.get("EIA/PET_RWTC_D", start_date = '2020-01-01', end_date = '2020-12-17')
crude_oil_wti_df.reset_index(inplace = True)

brent_crude_oil_df = quandl.get("FRED/DCOILBRENTEU", start_date = '2020-01-01', end_date = '2020-12-17')
brent_crude_oil_df.reset_index(inplace = True)

cboe_crude_oil_vix_df = pd.read_csv(cboe_crude_oil_filepath)
cboe_crude_oil_vix_df.reset_index(inplace = True)
cboe_crude_oil_vix_df = cboe_crude_oil_vix_df.astype({'Date': 'datetime64[ns]'})

sensex_df = quandl.get("BSE/SENSEX", start_date = '2020-01-01', end_date = '2020-12-17')
sensex_df['Type'] = ['SENSEX'] * len(sensex_df)
sensex_df.reset_index(inplace = True)
sensex_df = sensex_df.astype({'Date': 'datetime64[ns]'})

nifty_50_df = pd.read_csv(nifty_50_filepath)
nifty_50_ratio_df = pd.read_csv(nifty_50_ratios_filepath)

nifty_auto_index_df = pd.read_csv(nifty_auto_index_filepath)
nifty_auto_index_ratios_df = pd.read_csv(nifty_auto_index_ratios_filepath)

nifty_bank_index_df = pd.read_csv(nifty_bank_index_filepath)
nifty_bank_index_ratios_df = pd.read_csv(nifty_bank_index_ratios_filepath)

nifty_fmcg_index_df = pd.read_csv(nifty_fmcg_index_filepath)
nifty_fmcg_index_ratios_df = pd.read_csv(nifty_fmcg_index_ratios_filepath)

nifty_it_index_df = pd.read_csv(nifty_it_index_filepath)
nifty_it_index_ratios_df = pd.read_csv(nifty_it_index_ratios_filepath)

nifty_pharma_index_df = pd.read_csv(nifty_pharma_index_filepath)
nifty_pharma_index_ratios_df = pd.read_csv(nifty_pharma_index_ratios_filepath)

nifty_media_index_df = pd.read_csv(nifty_media_index_filepath)
nifty_media_index_ratios_df = pd.read_csv(nifty_media_index_ratios_filepath)

nifty_realty_index_df = pd.read_csv(nifty_realty_index_filepath)
nifty_realty_index_ratios_df = pd.read_csv(nifty_realty_index_ratios_filepath)

india_vix_df = pd.read_csv(india_vix_filepath)

covid_cases_df = pd.read_csv(covid_19_filepath, parse_dates = ['date'])

### 1.2 NIFTY-50 Index Data Preprocessing

In [6]:
nifty_50_df['Type'] = ['NIFTY-50'] * len(nifty_50_df)
rows, columns = nifty_50_df.shape
print(f'Nifty-50-Dateset-Dimensions: Rows: {rows} Columns: {columns}')
nifty_50_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_50_df.columns]
nifty_50_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, inplace = True, axis = 1)
print(f'Columns-Name: {[col_name for col_name in nifty_50_df.columns]}')
nifty_50_df = nifty_50_df.astype({'Date': 'datetime64[ns]'})
nifty_50_df.dtypes

Nifty-50-Dateset-Dimensions: Rows: 243 Columns: 8
Columns-Name: ['Date', 'Open', 'High', 'Low', 'Close', 'Shares-Traded', 'Turnover (In Crores)', 'Type']

Date                    datetime64[ns]
Open                           float64
High                           float64
Low                            float64
Close                          float64
Shares-Traded                    int64
Turnover (In Crores)           float64
Type                            object
dtype: object

In [7]:
nifty_50_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  243 non-null    datetime64[ns]
 1   Open                  243 non-null    float64
 2   High                  243 non-null    float64
 3   Low                   243 non-null    float64
 4   Close                 243 non-null    float64
 5   Shares-Traded         243 non-null    int64
 6   Turnover (In Crores)  243 non-null    float64
 7   Type                  243 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 15.3+ KB

In [8]:
nifty_50_df.head()

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type
0,2020-01-01,12202.15,12222.20,12165.30,12182.50,304078039,10445.68,NIFTY-50
1,2020-01-02,12198.55,12289.90,12195.25,12282.20,407697594,15256.55,NIFTY-50
2,2020-01-03,12261.10,12265.60,12191.35,12226.65,428770054,16827.27,NIFTY-50
3,2020-01-06,12170.60,12179.10,11974.20,11993.05,396501419,16869.22,NIFTY-50
4,2020-01-07,12079.10,12152.15,12005.35,12052.95,447818617,17797.68,NIFTY-50

In [9]:
nifty_50_df.describe()

,Open,High,Low,Close,Shares-Traded,Turnover (In Crores)
count,243.000000,243.000000,243.000000,243.000000,2.430000e+02,243.000000
mean,11080.457202,11159.857613,10971.796091,11065.911728,6.668858e+08,30909.734074
std,1343.023428,1300.954215,1376.880318,1344.170265,2.009423e+08,8549.743096
min,7735.150000,8036.950000,7511.100000,7610.250000,1.078681e+08,5189.380000
25%,10093.950000,10167.800000,10028.500000,10076.600000,5.535614e+08,26871.700000
50%,11351.350000,11381.150000,11244.600000,11303.300000,6.331174e+08,30828.330000
75%,12070.750000,12103.550000,11963.775000,12028.425000,7.276227e+08,35957.810000
max,13713.550000,13773.250000,13673.550000,13740.700000,1.811564e+09,78522.930000

In [10]:
rows, columns = nifty_50_ratio_df.shape
print(f'Dimensions of Nifty-50-Ratio-Dataset: Rows: {rows} Columns: {columns}.')
nifty_50_ratio_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_50_ratio_df.columns]
print(f'Columns of Nifty-50-Ratio-Dateset: {[col_name for col_name in nifty_50_ratio_df]}')
nifty_50_ratio_df = nifty_50_ratio_df.astype({'Date': 'datetime64[ns]'})
nifty_50_ratio_df.dtypes

Dimensions of Nifty-50-Ratio-Dataset: Rows: 243 Columns: 4.
Columns of Nifty-50-Ratio-Dateset: ['Date', 'P/E', 'P/B', 'Div-Yield']

Date         datetime64[ns]
P/E                 float64
P/B                 float64
Div-Yield           float64
dtype: object

In [11]:
nifty_50_ratio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       243 non-null    datetime64[ns]
 1   P/E        243 non-null    float64
 2   P/B        243 non-null    float64
 3   Div-Yield  243 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 7.7 KB

In [12]:
nifty_50_ratio_df.head()

        Date    P/E   P/B  Div-Yield
0 2020-01-01  28.33  3.76       1.24
1 2020-01-02  28.56  3.79       1.23
2 2020-01-03  28.44  3.77       1.23
3 2020-01-06  27.89  3.70       1.26
4 2020-01-07  28.03  3.72       1.25

In [13]:
nifty_50_ratio_df.describe()

              P/E         P/B   Div-Yield
count  243.000000  243.000000  243.000000
mean    28.236502    3.146255    1.438436
std      5.274023    0.392758    0.173100
min     17.150000    2.170000    1.160000
25%     24.025000    2.865000    1.270000
50%     28.220000    3.180000    1.450000
75%     32.655000    3.390000    1.535000
max     37.790000    3.890000    2.000000

In [14]:
nifty_50_final_df = pd.concat([nifty_50_df.set_index('Date'), nifty_50_ratio_df.set_index('Date')], axis = 1)
nifty_50_final_df.reset_index(inplace = True)
nifty_50_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,12202.15,12222.20,12165.30,12182.50,304078039,10445.68,NIFTY-50,28.33,3.76,1.24
1,2020-01-02,12198.55,12289.90,12195.25,12282.20,407697594,15256.55,NIFTY-50,28.56,3.79,1.23
2,2020-01-03,12261.10,12265.60,12191.35,12226.65,428770054,16827.27,NIFTY-50,28.44,3.77,1.23
3,2020-01-06,12170.60,12179.10,11974.20,11993.05,396501419,16869.22,NIFTY-50,27.89,3.70,1.26
4,2020-01-07,12079.10,12152.15,12005.35,12052.95,447818617,17797.68,NIFTY-50,28.03,3.72,1.25
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,13512.30,13579.35,13402.85,13513.85,787707481,33696.57,NIFTY-50,37.16,3.82,1.18
239,2020-12-14,13571.45,13597.50,13472.45,13558.15,558390043,28133.58,NIFTY-50,37.28,3.84,1.17
240,2020-12-15,13547.20,13589.65,13447.05,13567.85,497600393,30828.33,NIFTY-50,37.31,3.84,1.17
241,2020-12-16,13663.10,13692.35,13606.45,13682.70,462151091,27460.18,NIFTY-50,37.63,3.87,1.16
242,2020-12-17,13713.55,13773.25,13673.55,13740.70,416008520,27712.93,NIFTY-50,37.79,3.89,1.16

### 1.3 NIFTY-Auto-Index Data Preprocessing

In [15]:
nifty_auto_index_df['Type'] = ['NIFTY-AUTO'] * nifty_auto_index_df.shape[0]
rows, columns = nifty_auto_index_df.shape
nifty_auto_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_auto_index_df.columns]
nifty_auto_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, axis = 1, inplace = True)
nifty_auto_index_df = nifty_auto_index_df.astype({'Date': 'datetime64[ns]'})
nifty_auto_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_auto_index_ratios_df.columns]
nifty_auto_index_ratios_df = nifty_auto_index_ratios_df.astype({'Date': 'datetime64[ns]'})
nifty_auto_index_final_df = pd.concat([nifty_auto_index_df.set_index('Date'), nifty_auto_index_ratios_df.set_index('Date')], axis = 1)
nifty_auto_index_final_df.reset_index(inplace = True)
nifty_auto_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,8262.50,8276.80,8200.25,8210.10,44710008,1802.03,NIFTY-AUTO,24.24,3.64,1.34
1,2020-01-02,8226.60,8275.05,8206.85,8267.45,95024515,2981.74,NIFTY-AUTO,24.41,3.66,1.33
2,2020-01-03,8261.50,8261.65,8136.80,8168.15,76927732,2478.76,NIFTY-AUTO,24.12,3.62,1.35
3,2020-01-06,8132.65,8134.50,7967.20,7978.75,62846094,2285.56,NIFTY-AUTO,23.56,3.53,1.38
4,2020-01-07,8029.90,8097.70,7961.20,8002.50,69137157,2270.25,NIFTY-AUTO,23.63,3.54,1.38
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,9234.85,9274.55,9133.65,9188.95,92635442,4135.30,NIFTY-AUTO,302.25,4.16,1.78
239,2020-12-14,9248.65,9251.30,9074.90,9093.10,77680765,3840.24,NIFTY-AUTO,299.10,4.11,1.80
240,2020-12-15,9078.25,9168.70,9052.05,9149.75,88257986,4055.62,NIFTY-AUTO,300.96,4.14,1.79
241,2020-12-16,9239.45,9290.95,9207.40,9239.10,158009078,5222.34,NIFTY-AUTO,303.90,4.18,1.77
242,2020-12-17,9265.70,9288.00,9146.40,9185.20,105375277,3629.26,NIFTY-AUTO,302.13,4.15,1.78

### 1.4 NIFTY-Bank-Index Data Preprocessing

In [16]:
nifty_bank_index_df['Type'] = ['NIFTY-BANK'] * nifty_bank_index_df.shape[0]
nifty_bank_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_bank_index_df.columns]
nifty_bank_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, inplace = True, axis = 1)
nifty_bank_index_df = nifty_bank_index_df.astype({'Date': 'datetime64[ns]'})
nifty_bank_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_bank_index_ratios_df.columns]
nifty_bank_index_ratios_df = nifty_bank_index_ratios_df.astype({'Date': 'datetime64[ns]'})
nifty_bank_index_final_df = pd.concat([nifty_bank_index_df.set_index('Date'), nifty_bank_index_ratios_df.set_index('Date')], axis = 1)
nifty_bank_index_final_df.reset_index(inplace = True)
nifty_bank_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,32237.90,32348.00,32057.20,32102.90,184671555,3183.97,NIFTY-BANK,40.73,3.35,0.31
1,2020-01-02,32133.15,32465.45,32121.40,32443.85,253558509,4310.34,NIFTY-BANK,41.16,3.38,0.30
2,2020-01-03,32326.95,32329.80,31960.40,32069.25,217584385,4537.65,NIFTY-BANK,40.68,3.34,0.31
3,2020-01-06,31910.45,31914.45,31170.55,31237.15,256236748,5048.53,NIFTY-BANK,39.62,3.29,0.32
4,2020-01-07,31598.05,31851.45,31200.90,31399.40,294368120,6636.37,NIFTY-BANK,39.83,3.31,0.32
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,30555.30,30811.80,30328.45,30604.85,409937035,9588.80,NIFTY-BANK,29.45,2.57,0.41
239,2020-12-14,30735.15,30845.80,30624.25,30745.90,269034727,7156.20,NIFTY-BANK,29.59,2.58,0.40
240,2020-12-15,30805.40,30805.85,30345.75,30691.05,279367757,8180.08,NIFTY-BANK,29.53,2.58,0.40
241,2020-12-16,30920.35,30932.25,30587.10,30698.40,380587654,6817.74,NIFTY-BANK,29.54,2.58,0.40
242,2020-12-17,30791.20,30945.20,30643.90,30847.05,260660598,7563.24,NIFTY-BANK,29.68,2.59,0.40

### 1.5 NIFTY-FMCG-Index Data Preprocessing

In [17]:
nifty_fmcg_index_df['Type'] = ['NIFTY-FMCG'] * nifty_fmcg_index_df.shape[0]
nifty_fmcg_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_fmcg_index_df.columns]
nifty_fmcg_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, axis = 1, inplace = True)
nifty_fmcg_index_df = nifty_fmcg_index_df.astype({'Date': 'datetime64[ns]'})
nifty_fmcg_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_fmcg_index_ratios_df.columns]
nifty_fmcg_index_ratios_df = nifty_fmcg_index_ratios_df.astype({'Date': 'datetime64[ns]'})
nifty_fmcg_index_final_df = pd.concat([nifty_fmcg_index_df.set_index('Date'), nifty_fmcg_index_ratios_df.set_index('Date')], axis = 1)
nifty_fmcg_index_final_df.reset_index(inplace = True)
nifty_fmcg_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,30202.75,30251.20,30119.10,30234.25,10343897,676.25,NIFTY-FMCG,38.08,10.65,1.33
1,2020-01-02,30271.30,30357.30,30220.05,30266.20,17998667,939.47,NIFTY-FMCG,38.12,10.66,1.33
2,2020-01-03,30302.15,30306.05,30050.75,30109.25,20089305,1229.69,NIFTY-FMCG,37.93,10.61,1.33
3,2020-01-06,30024.75,30049.30,29765.15,29799.30,17667570,1011.20,NIFTY-FMCG,37.54,10.50,1.35
4,2020-01-07,29903.05,30049.35,29841.15,29861.80,18622056,1097.36,NIFTY-FMCG,37.61,10.52,1.34
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,34245.25,34427.70,33987.25,34364.85,86225915,4090.71,NIFTY-FMCG,44.01,10.34,1.35
239,2020-12-14,34505.35,34596.05,34334.60,34411.65,45607508,2662.03,NIFTY-FMCG,44.07,10.35,1.34
240,2020-12-15,34329.50,34360.80,33906.10,33967.90,39709982,2436.62,NIFTY-FMCG,43.50,10.22,1.36
241,2020-12-16,34058.25,34352.75,34037.30,34195.85,39360753,2706.50,NIFTY-FMCG,43.79,10.29,1.35
242,2020-12-17,34221.40,34234.80,33955.35,34013.55,46191076,4154.30,NIFTY-FMCG,43.56,10.23,1.36

### 1.6 NIFTY-IT-Index Data Preprocessing

In [18]:
nifty_it_index_df['Type'] = ['NIFTY-IT'] * nifty_it_index_df.shape[0]
nifty_it_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_it_index_df.columns]
nifty_it_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, axis = 1, inplace = True)
nifty_it_index_df = nifty_it_index_df.astype({'Date': 'datetime64[ns]'})
nifty_it_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_it_index_ratios_df.columns]
nifty_it_index_ratios_df = nifty_it_index_ratios_df.astype({'Date': 'datetime64[ns]'})
nifty_it_index_final_df = pd.concat([nifty_it_index_df.set_index('Date'), nifty_it_index_ratios_df.set_index('Date')], axis = 1)
nifty_it_index_final_df.reset_index(inplace = True)
nifty_it_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,15705.90,15746.25,15676.70,15722.15,9390770,796.37,NIFTY-IT,20.76,5.14,2.01
1,2020-01-02,15754.90,15762.10,15679.65,15709.65,15228631,1359.62,NIFTY-IT,20.74,5.14,2.01
2,2020-01-03,15727.60,16004.45,15722.65,15936.60,26007478,2470.87,NIFTY-IT,21.04,5.21,1.99
3,2020-01-06,15934.60,16067.65,15831.85,15879.80,24001823,2010.92,NIFTY-IT,20.97,5.19,1.99
4,2020-01-07,15893.35,15988.70,15799.80,15895.20,24228858,1896.87,NIFTY-IT,20.99,5.20,1.99
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,22754.50,22901.75,22541.10,22664.00,28151650,3252.50,NIFTY-IT,30.55,7.83,1.85
239,2020-12-14,22786.00,22792.45,22487.30,22746.70,30545890,3093.19,NIFTY-IT,30.66,7.86,1.84
240,2020-12-15,22656.35,22779.70,22608.35,22715.10,29851045,3302.35,NIFTY-IT,30.62,7.85,1.84
241,2020-12-16,22830.40,22933.80,22701.55,22906.25,26638272,3089.55,NIFTY-IT,30.88,7.91,1.83
242,2020-12-17,22913.15,22960.50,22835.40,22892.25,23025731,2834.34,NIFTY-IT,30.86,7.91,1.83

### 1.7 NIFTY-PHARMA-Index Data Preprocessing

In [19]:
nifty_pharma_index_df['Type'] = ['NIFTY-PHARMA'] * nifty_pharma_index_df.shape[0]
nifty_pharma_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_pharma_index_df.columns]
nifty_pharma_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, axis = 1, inplace = True)
nifty_pharma_index_df = nifty_pharma_index_df.astype({'Date': 'datetime64[ns]'})
nifty_pharma_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_pharma_index_ratios_df.columns]
nifty_pharma_index_ratios_df = nifty_pharma_index_ratios_df.astype({'Date': 'datetime64[ns]'})
nifty_pharma_index_final_df = pd.concat([nifty_pharma_index_df.set_index('Date'), nifty_pharma_index_ratios_df.set_index('Date')], axis = 1)
nifty_pharma_index_final_df.reset_index(inplace = True)
nifty_pharma_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,8060.30,8076.65,8018.95,8047.10,8898088,613.47,NIFTY-PHARMA,25.82,3.16,0.65
1,2020-01-02,8056.75,8102.40,8027.15,8053.95,12949471,748.23,NIFTY-PHARMA,25.84,3.17,0.65
2,2020-01-03,8053.00,8189.80,8026.30,8111.95,26218452,1306.48,NIFTY-PHARMA,26.03,3.19,0.64
3,2020-01-06,8076.85,8085.50,7943.15,7987.35,17516389,957.16,NIFTY-PHARMA,25.63,3.14,0.65
4,2020-01-07,8014.10,8087.65,7973.95,8036.50,27939913,1266.69,NIFTY-PHARMA,25.78,3.16,0.65
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,12460.00,12493.45,12277.50,12366.00,20739748,2181.07,NIFTY-PHARMA,36.79,5.09,0.75
239,2020-12-14,12399.75,12506.90,12395.55,12459.90,39248885,3617.35,NIFTY-PHARMA,37.07,5.13,0.74
240,2020-12-15,12498.35,12556.35,12400.70,12432.60,31233483,3137.47,NIFTY-PHARMA,36.99,5.12,0.74
241,2020-12-16,12492.90,12578.40,12437.85,12547.50,22536320,2357.22,NIFTY-PHARMA,37.33,5.16,0.74
242,2020-12-17,12585.00,12731.45,12561.25,12602.40,30506593,3416.44,NIFTY-PHARMA,37.50,5.19,0.73

### 1.8 NIFTY-Media-Index Data Preprocessing

In [20]:
nifty_media_index_df['Type'] = ['NIFTY-MEDIA'] * nifty_media_index_df.shape[0]
nifty_media_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_media_index_df.columns]
nifty_media_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, inplace = True, axis = 1)
nifty_media_index_df = nifty_media_index_df.astype({'Date': 'datetime64[ns]'})
nifty_media_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_media_index_ratios_df.columns]
nifty_media_index_ratios_df = nifty_media_index_ratios_df.astype(dict(Date = 'datetime64[ns]'))
nifty_media_index_final_df = pd.concat([nifty_media_index_df.set_index('Date'), nifty_media_index_ratios_df.set_index('Date')], axis = 1)
nifty_media_index_final_df.reset_index(inplace = True)
nifty_media_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,1809.60,1817.60,1789.90,1794.20,59060199,429.62,NIFTY-MEDIA,67.30,2.26,1.14
1,2020-01-02,1777.95,1807.65,1760.80,1800.65,57610018,890.67,NIFTY-MEDIA,67.54,2.27,1.14
2,2020-01-03,1799.30,1799.50,1755.10,1760.50,61569807,836.88,NIFTY-MEDIA,66.03,2.21,1.17
3,2020-01-06,1763.05,1763.90,1712.95,1717.35,55486973,621.33,NIFTY-MEDIA,64.41,2.16,1.20
4,2020-01-07,1728.10,1753.75,1721.70,1735.15,63218816,619.40,NIFTY-MEDIA,65.08,2.18,1.18
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,1657.35,1677.55,1646.20,1658.70,68315688,832.40,NIFTY-MEDIA,-,2.16,2.42
239,2020-12-14,1675.55,1697.20,1669.00,1691.85,58783332,856.60,NIFTY-MEDIA,-,2.20,2.37
240,2020-12-15,1690.15,1729.20,1667.80,1722.15,78783576,1566.27,NIFTY-MEDIA,-,2.24,2.33
241,2020-12-16,1728.85,1740.25,1712.40,1727.35,69018177,1065.52,NIFTY-MEDIA,-,2.25,2.32
242,2020-12-17,1729.90,1752.40,1685.95,1693.85,64036073,1183.38,NIFTY-MEDIA,-,2.20,2.37

### 1.9 NIFTY-Realty-Index Data Preprocessing

In [21]:
nifty_realty_index_df['Type'] = ['NIFTY-REALTY'] * nifty_realty_index_df.shape[0]
nifty_realty_index_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_realty_index_df.columns]
nifty_realty_index_df.rename({'Turnover-(Rs.-Cr)': 'Turnover (In Crores)'}, inplace = True, axis = 1)
nifty_realty_index_df = nifty_realty_index_df.astype({'Date': 'datetime64[ns]'})
nifty_realty_index_ratios_df.columns = ['-'.join(col_name.strip().split()) for col_name in nifty_realty_index_ratios_df.columns]
nifty_realty_index_ratios_df = nifty_realty_index_ratios_df.astype(dict(Date = 'datetime64[ns]'))
nifty_realty_index_final_df = pd.concat([nifty_realty_index_df.set_index('Date'), nifty_realty_index_ratios_df.set_index('Date')], axis = 1)
nifty_realty_index_final_df.reset_index(inplace = True)
nifty_realty_index_final_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,299.45,300.65,296.90,297.85,12878961,188.23,NIFTY-REALTY,30.73,2.85,0.44
1,2020-01-02,299.15,302.40,298.20,301.00,12237219,208.29,NIFTY-REALTY,31.06,2.88,0.44
2,2020-01-03,300.70,302.15,298.35,299.65,9712668,181.18,NIFTY-REALTY,30.92,2.87,0.44
3,2020-01-06,299.10,299.75,292.05,292.40,17160303,289.78,NIFTY-REALTY,30.17,2.80,0.45
4,2020-01-07,294.40,298.95,293.95,298.05,10287489,229.75,NIFTY-REALTY,30.75,2.86,0.44
...,...,...,...,...,...,...,...,...,...,...,...
238,2020-12-11,291.25,293.25,287.70,292.50,28752960,769.70,NIFTY-REALTY,180.16,2.37,0.69
239,2020-12-14,293.35,293.65,289.00,289.90,13517701,357.84,NIFTY-REALTY,178.56,2.35,0.69
240,2020-12-15,289.75,290.05,285.15,289.00,17078813,400.37,NIFTY-REALTY,177.99,2.34,0.69
241,2020-12-16,290.25,307.45,289.85,303.85,106995134,2542.78,NIFTY-REALTY,187.15,2.46,0.66
242,2020-12-17,304.55,308.25,301.25,305.65,36706557,896.02,NIFTY-REALTY,188.26,2.48,0.66

### 1.10 Combining all the NIFTY Indexes Into One Dataframe

In [22]:
nifty_combined_index_df = pd.concat([nifty_50_final_df, nifty_auto_index_final_df, nifty_bank_index_final_df, nifty_fmcg_index_final_df, nifty_it_index_final_df, nifty_pharma_index_final_df, nifty_media_index_final_df, nifty_realty_index_final_df])
nifty_combined_index_df.reset_index(inplace = True)
nifty_combined_index_df.drop(['index'], inplace = True, axis = 1)
nifty_combined_index_df

,Date,Open,High,Low,Close,Shares-Traded,Turnover (In Crores),Type,P/E,P/B,Div-Yield
0,2020-01-01,12202.15,12222.20,12165.30,12182.50,304078039,10445.68,NIFTY-50,28.33,3.76,1.24
1,2020-01-02,12198.55,12289.90,12195.25,12282.20,407697594,15256.55,NIFTY-50,28.56,3.79,1.23
2,2020-01-03,12261.10,12265.60,12191.35,12226.65,428770054,16827.27,NIFTY-50,28.44,3.77,1.23
3,2020-01-06,12170.60,12179.10,11974.20,11993.05,396501419,16869.22,NIFTY-50,27.89,3.70,1.26
4,2020-01-07,12079.10,12152.15,12005.35,12052.95,447818617,17797.68,NIFTY-50,28.03,3.72,1.25
...,...,...,...,...,...,...,...,...,...,...,...
1939,2020-12-11,291.25,293.25,287.70,292.50,28752960,769.70,NIFTY-REALTY,180.16,2.37,0.69
1940,2020-12-14,293.35,293.65,289.00,289.90,13517701,357.84,NIFTY-REALTY,178.56,2.35,0.69
1941,2020-12-15,289.75,290.05,285.15,289.00,17078813,400.37,NIFTY-REALTY,177.99,2.34,0.69
1942,2020-12-16,290.25,307.45,289.85,303.85,106995134,2542.78,NIFTY-REALTY,187.15,2.46,0.66
1943,2020-12-17,304.55,308.25,301.25,305.65,36706557,896.02,NIFTY-REALTY,188.26,2.48,0.66

### 1.11 SENSEX data preprocessing

In [23]:
nifty_50_sensex_df = pd.concat([nifty_50_df, sensex_df]).drop(['Shares-Traded', 'Turnover (In Crores)'], axis = 1)
nifty_50_sensex_df

          Date      Open      High       Low     Close      Type
0   2020-01-01  12202.15  12222.20  12165.30  12182.50  NIFTY-50
1   2020-01-02  12198.55  12289.90  12195.25  12282.20  NIFTY-50
2   2020-01-03  12261.10  12265.60  12191.35  12226.65  NIFTY-50
3   2020-01-06  12170.60  12179.10  11974.20  11993.05  NIFTY-50
4   2020-01-07  12079.10  12152.15  12005.35  12052.95  NIFTY-50
..         ...       ...       ...       ...       ...       ...
238 2020-12-11  46060.32  46309.63  45706.22  46099.01    SENSEX
239 2020-12-14  46284.70  46373.34  45951.53  46253.46    SENSEX
240 2020-12-15  46287.39  46350.30  45841.67  46263.17    SENSEX
241 2020-12-16  46573.31  46704.97  46402.20  46666.46    SENSEX
242 2020-12-17  46774.32  46992.57  46627.60  46890.34    SENSEX

[486 rows x 6 columns]

### 1.12 INDIA-VIX Data Preprocessing

In [24]:
india_vix_df['Type'] = ['INDIA-VIX'] * india_vix_df.shape[0]
rows, columns = india_vix_df.shape
print(f'Dimensions of India-Vix-Dataset: Rows: {rows} Columns: {columns}')
india_vix_df.columns = ['-'.join(col_name.strip().split()) for col_name in india_vix_df.columns]
india_vix_df.rename({'Prev.-Close': 'Prev-Close'}, inplace = True, axis = 1)
print(f'Columns of India-Vix-Dataset: {[col_name for col_name in india_vix_df.columns]}')
india_vix_df = india_vix_df.astype({'Date': 'datetime64[ns]'})
india_vix_df.dtypes

Dimensions of India-Vix-Dataset: Rows: 243 Columns: 9
Columns of India-Vix-Dataset: ['Date', 'Open', 'High', 'Low', 'Close', 'Prev-Close', 'Change', '%-Change', 'Type']

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Prev-Close           float64
Change               float64
%-Change             float64
Type                  object
dtype: object

In [25]:
india_vix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        243 non-null    datetime64[ns]
 1   Open        243 non-null    float64
 2   High        243 non-null    float64
 3   Low         243 non-null    float64
 4   Close       243 non-null    float64
 5   Prev-Close  243 non-null    float64
 6   Change      243 non-null    float64
 7   %-Change    243 non-null    float64
 8   Type        243 non-null    object
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 17.2+ KB

In [26]:
india_vix_df.head()

,Date,Open,High,Low,Close,Prev-Close,Change,%-Change,Type
0,2020-01-01,11.6675,11.7300,11.0850,11.5975,11.6675,-0.07,-0.60,INDIA-VIX
1,2020-01-02,11.5975,11.7000,10.7300,11.4900,11.5975,-0.11,-0.93,INDIA-VIX
2,2020-01-03,11.4900,12.9400,10.6850,12.6950,11.4900,1.21,10.49,INDIA-VIX
3,2020-01-06,12.6950,15.0950,12.6950,14.7775,12.6950,2.08,16.40,INDIA-VIX
4,2020-01-07,14.7775,14.9125,14.4625,14.6100,14.7775,-0.17,-1.13,INDIA-VIX

In [27]:
india_vix_df.describe()

,Open,High,Low,Close,Prev-Close,Change,%-Change
count,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000
mean,26.933436,28.128899,24.668693,26.964259,26.933436,0.030617,0.399095
std,13.318000,14.068442,12.606272,13.291163,13.318000,2.188263,6.497543
min,11.490000,11.700000,10.165000,11.490000,11.490000,-7.480000,-13.430000
25%,19.466250,19.945000,16.953750,19.466250,19.466250,-0.755000,-3.190000
50%,22.635000,23.405000,20.197500,22.635000,22.635000,-0.110000,-0.600000
75%,30.078750,31.065000,28.588750,30.078750,30.078750,0.500000,2.150000
max,83.607500,86.635000,75.972500,83.607500,83.607500,11.620000,30.790000

### 1.13 COVID-19 Data Preprocessing

**Data-Source:** [Our World In Data COVID-19 Dataset](https://covid.ourworldindata.org/data/owid-covid-data.csv)

In [28]:
rows, columns = covid_cases_df.shape
print(f'Dimensions of Global-COVID-Cases-Dataset: Rows: {rows}, Columns: {columns}')
covid_cases_df.columns = ['-'.join(col_name.strip().split('_')) for col_name in covid_cases_df.columns]
covid_cases_df.fillna(0, inplace = True)
covid_cases_df = covid_cases_df.astype({'total-cases': np.int64, 'new-cases': np.int64, 'total-deaths': np.int64, 'new-deaths': np.int64})
covid_cases_df

Dimensions of Global-COVID-Cases-Dataset: Rows: 56273, Columns: 52

,iso-code,continent,location,date,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,...,gdp-per-capita,extreme-poverty,cardiovasc-death-rate,diabetes-prevalence,female-smokers,male-smokers,handwashing-facilities,hospital-beds-per-thousand,life-expectancy,human-development-index
0,AFG,Asia,Afghanistan,2020-02-24,1,1,0.000,0,0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1,0,0.000,0,0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1,0,0.000,0,0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1,0,0.000,0,0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1,0,0.000,0,0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56268,ZWE,Africa,Zimbabwe,2020-12-21,12422,97,152.000,322,2,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56269,ZWE,Africa,Zimbabwe,2020-12-22,12544,122,146.000,326,4,2.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56270,ZWE,Africa,Zimbabwe,2020-12-23,12656,112,129.571,330,4,2.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56271,ZWE,Africa,Zimbabwe,2020-12-24,12786,130,131.429,339,9,3.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56272,ZWE,Africa,Zimbabwe,2020-12-25,12880,94,119.000,341,2,3.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [29]:
covid_cases_df.tail()

,iso-code,continent,location,date,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,...,gdp-per-capita,extreme-poverty,cardiovasc-death-rate,diabetes-prevalence,female-smokers,male-smokers,handwashing-facilities,hospital-beds-per-thousand,life-expectancy,human-development-index
56268,ZWE,Africa,Zimbabwe,2020-12-21,12422,97,152.000,322,2,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56269,ZWE,Africa,Zimbabwe,2020-12-22,12544,122,146.000,326,4,2.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56270,ZWE,Africa,Zimbabwe,2020-12-23,12656,112,129.571,330,4,2.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56271,ZWE,Africa,Zimbabwe,2020-12-24,12786,130,131.429,339,9,3.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
56272,ZWE,Africa,Zimbabwe,2020-12-25,12880,94,119.000,341,2,3.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [30]:
covid_cases_df.describe()

,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,total-cases-per-million,new-cases-per-million,new-cases-smoothed-per-million,total-deaths-per-million,...,gdp-per-capita,extreme-poverty,cardiovasc-death-rate,diabetes-prevalence,female-smokers,male-smokers,handwashing-facilities,hospital-beds-per-thousand,life-expectancy,human-development-index
count,5.627300e+04,5.627300e+04,56273.000000,5.627300e+04,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,...,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000,56273.000000
mean,2.538093e+05,2.837583e+03,2774.180389,7.555276e+03,62.216800,61.037193,4269.356097,51.881952,50.537043,96.882490,...,18331.933929,8.545519,245.937180,7.547399,8.049779,24.467248,24.600140,2.692671,72.370210,0.684753
std,2.485238e+06,2.591321e+04,24914.738406,6.488992e+04,491.072046,472.613655,8770.804430,158.835108,125.722152,203.677584,...,19654.814729,17.201291,125.611827,4.014377,10.156965,18.322549,33.757939,2.524016,10.666977,0.210257
min,0.000000e+00,-4.607600e+04,-1121.714000,0.000000e+00,-1918.000000,-232.143000,0.000000,-2153.437000,-276.825000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.830000e+02,1.000000e+00,3.000000,6.000000e+00,0.000000,0.000000,74.997000,0.026000,0.545000,0.725000,...,3601.006000,0.000000,153.493000,4.970000,0.200000,0.000000,0.000000,0.800000,67.270000,0.578000
50%,4.195000e+03,3.600000e+01,41.143000,7.500000e+01,0.000000,0.571000,636.251000,3.981000,4.935000,11.324000,...,11840.846000,0.500000,235.954000,7.110000,2.800000,25.000000,0.000000,2.100000,74.530000,0.741000
75%,4.208000e+04,4.200000e+02,434.571000,7.780000e+02,7.000000,7.143000,4106.090000,36.810000,39.092000,73.755000,...,26777.561000,5.000000,318.991000,9.850000,14.000000,37.800000,49.542000,3.700000,78.570000,0.831000
max,7.984021e+07,1.493133e+06,749495.429000,1.750580e+06,14459.000000,11670.429000,100381.803000,9760.898000,2648.773000,1650.068000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

In [31]:
covid_cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56273 entries, 0 to 56272
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso-code                            56273 non-null  object
 1   continent                           56273 non-null  object
 2   location                            56273 non-null  object
 3   date                                56273 non-null  datetime64[ns]
 4   total-cases                         56273 non-null  int64
 5   new-cases                           56273 non-null  int64
 6   new-cases-smoothed                  56273 non-null  float64
 7   total-deaths                        56273 non-null  int64
 8   new-deaths                          56273 non-null  int64
 9   new-deaths-smoothed                 56273 non-null  float64
 10  total-cases-per-million             56273 non-null  float64
 11  new-cases-per-million               56273 non-null  float64
 12  new-cases-smoothed-per-million      56273 non-null  float64
 13  total-deaths-per-million            56273 non-null  float64
 14  new-deaths-per-million              56273 non-null  float64
 15  new-deaths-smoothed-per-million     56273 non-null  float64
 16  reproduction-rate                   56273 non-null  float64
 17  icu-patients                        56273 non-null  float64
 18  icu-patients-per-million            56273 non-null  float64
 19  hosp-patients                       56273 non-null  float64
 20  hosp-patients-per-million           56273 non-null  float64
 21  weekly-icu-admissions               56273 non-null  float64
 22  weekly-icu-admissions-per-million   56273 non-null  float64
 23  weekly-hosp-admissions              56273 non-null  float64
 24  weekly-hosp-admissions-per-million  56273 non-null  float64
 25  new-tests                           56273 non-null  float64
 26  total-tests                         56273 non-null  float64
 27  total-tests-per-thousand            56273 non-null  float64
 28  new-tests-per-thousand              56273 non-null  float64
 29  new-tests-smoothed                  56273 non-null  float64
 30  new-tests-smoothed-per-thousand     56273 non-null  float64
 31  positive-rate                       56273 non-null  float64
 32  tests-per-case                      56273 non-null  float64
 33  tests-units                         56273 non-null  object
 34  total-vaccinations                  56273 non-null  float64
 35  total-vaccinations-per-hundred      56273 non-null  float64
 36  stringency-index                    56273 non-null  float64
 37  population                          56273 non-null  float64
 38  population-density                  56273 non-null  float64
 39  median-age                          56273 non-null  float64
 40  aged-65-older                       56273 non-null  float64
 41  aged-70-older                       56273 non-null  float64
 42  gdp-per-capita                      56273 non-null  float64
 43  extreme-poverty                     56273 non-null  float64
 44  cardiovasc-death-rate               56273 non-null  float64
 45  diabetes-prevalence                 56273 non-null  float64
 46  female-smokers                      56273 non-null  float64
 47  male-smokers                        56273 non-null  float64
 48  handwashing-facilities              56273 non-null  float64
 49  hospital-beds-per-thousand          56273 non-null  float64
 50  life-expectancy                     56273 non-null  float64
 51  human-development-index             56273 non-null  float64
dtypes: datetime64[ns](1), float64(43), int64(4), object(4)
memory usage: 22.3+ MB

### 1.13.1 Extraction of COVID-19 Cases throughout the World.
* The dataset has a separate data which keeps tracks of total number of COVID-19 cases all around the world.

In [32]:
columns_of_interest = covid_cases_df.columns[3:16]
world_covid_cases_df = covid_cases_df.loc[covid_cases_df.location == 'World', columns_of_interest]
world_covid_cases_df.reset_index(inplace = True)
world_covid_cases_df.drop(['index'], axis = 1, inplace = True)
world_covid_cases_df['Type'] = ['WORLD-COVID-19'] * len(world_covid_cases_df)
world_covid_cases_df

,date,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,total-cases-per-million,new-cases-per-million,new-cases-smoothed-per-million,total-deaths-per-million,new-deaths-per-million,new-deaths-smoothed-per-million,Type
0,2020-01-22,555,0,0.000,17,0,0.000,0.071,0.000,0.000,0.002,0.000,0.000,WORLD-COVID-19
1,2020-01-23,654,99,0.000,18,1,0.000,0.084,0.013,0.000,0.002,0.000,0.000,WORLD-COVID-19
2,2020-01-24,941,287,0.000,26,8,0.000,0.121,0.037,0.000,0.003,0.001,0.000,WORLD-COVID-19
3,2020-01-25,1434,493,0.000,42,16,0.000,0.184,0.063,0.000,0.005,0.002,0.000,WORLD-COVID-19
4,2020-01-26,2118,684,0.000,56,14,0.000,0.272,0.088,0.000,0.007,0.002,0.000,WORLD-COVID-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,2020-12-21,77364641,541155,643622.000,1702596,9391,11592.000,9925.162,69.425,82.571,218.427,1.205,1.487,WORLD-COVID-19
335,2020-12-22,78011432,646791,646608.000,1717055,14459,11662.857,10008.139,82.977,82.954,220.282,1.855,1.496,WORLD-COVID-19
336,2020-12-23,78704434,693002,640698.286,1730663,13608,11670.429,10097.045,88.906,82.196,222.028,1.746,1.497,WORLD-COVID-19
337,2020-12-24,79368142,663708,630425.857,1742271,11608,11436.286,10182.193,85.148,80.878,223.517,1.489,1.467,WORLD-COVID-19
338,2020-12-25,79840206,472064,595341.714,1750580,8309,10816.857,10242.754,60.561,76.377,224.583,1.066,1.388,WORLD-COVID-19

In [33]:
world_covid_cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             339 non-null    datetime64[ns]
 1   total-cases                      339 non-null    int64
 2   new-cases                        339 non-null    int64
 3   new-cases-smoothed               339 non-null    float64
 4   total-deaths                     339 non-null    int64
 5   new-deaths                       339 non-null    int64
 6   new-deaths-smoothed              339 non-null    float64
 7   total-cases-per-million          339 non-null    float64
 8   new-cases-per-million            339 non-null    float64
 9   new-cases-smoothed-per-million   339 non-null    float64
 10  total-deaths-per-million         339 non-null    float64
 11  new-deaths-per-million           339 non-null    float64
 12  new-deaths-smoothed-per-million  339 non-null    float64
 13  Type                             339 non-null    object
dtypes: datetime64[ns](1), float64(8), int64(4), object(1)
memory usage: 37.2+ KB

### 1.13.2 Country-Wise COVID-19 Cases
* As the dataset consists of data country wise, it also contains data on the `World` basis, so to extract the data only related to countries I need to ignore all the columns where the `location == World`.

In [34]:
country_wise_covid_cases_df = covid_cases_df.loc[(covid_cases_df.location != 'World') & (covid_cases_df.date <= '2020-03-31'), covid_cases_df.columns[:16]]
country_wise_covid_cases_df.reset_index(inplace = True)
country_wise_covid_cases_df.drop(['index'], axis = 1, inplace = True)
country_wise_covid_cases_df.head()

,iso-code,continent,location,date,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,total-cases-per-million,new-cases-per-million,new-cases-smoothed-per-million,total-deaths-per-million,new-deaths-per-million,new-deaths-smoothed-per-million
0,AFG,Asia,Afghanistan,2020-02-24,1,1,0.0,0,0,0.0,0.026,0.026,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-02-25,1,0,0.0,0,0,0.0,0.026,0.000,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-02-26,1,0,0.0,0,0,0.0,0.026,0.000,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-02-27,1,0,0.0,0,0,0.0,0.026,0.000,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-02-28,1,0,0.0,0,0,0.0,0.026,0.000,0.0,0.0,0.0,0.0

### 1.13.3 India COVID-19 Cases

In [35]:
india_covid_cases_df = covid_cases_df.loc[covid_cases_df.location == 'India', columns_of_interest]
india_covid_cases_df.reset_index(inplace = True)
india_covid_cases_df.drop(['index'], axis = 1, inplace = True)
india_covid_cases_df['Type'] = ['INDIA-COVID-19'] * len(india_covid_cases_df)
india_covid_cases_df.head()

,date,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,total-cases-per-million,new-cases-per-million,new-cases-smoothed-per-million,total-deaths-per-million,new-deaths-per-million,new-deaths-smoothed-per-million,Type
0,2020-01-30,1,1,0.0,0,0,0.0,0.001,0.001,0.0,0.0,0.0,0.0,INDIA-COVID-19
1,2020-01-31,1,0,0.0,0,0,0.0,0.001,0.000,0.0,0.0,0.0,0.0,INDIA-COVID-19
2,2020-02-01,1,0,0.0,0,0,0.0,0.001,0.000,0.0,0.0,0.0,0.0,INDIA-COVID-19
3,2020-02-02,2,1,0.0,0,0,0.0,0.001,0.001,0.0,0.0,0.0,0.0,INDIA-COVID-19
4,2020-02-03,3,1,0.0,0,0,0.0,0.002,0.001,0.0,0.0,0.0,0.0,INDIA-COVID-19

In [36]:
india_covid_cases_df.describe()

,total-cases,new-cases,new-cases-smoothed,total-deaths,new-deaths,new-deaths-smoothed,total-cases-per-million,new-cases-per-million,new-cases-smoothed-per-million,total-deaths-per-million,new-deaths-per-million,new-deaths-smoothed-per-million
count,3.310000e+02,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,3.090217e+06,30722.410876,30513.896429,49189.580060,445.145015,442.396656,2239.280879,22.262538,22.111462,35.644486,0.322568,0.320553
std,3.645825e+06,29769.488980,29702.134052,53116.858296,390.897247,379.492849,2641.893865,21.572014,21.523214,38.490355,0.283262,0.274999
min,1.000000e+00,0.000000,0.000000,0.000000,-1.000000,0.000000,0.001000,0.000000,0.000000,0.000000,-0.001000,0.000000
25%,2.072500e+04,1497.000000,1260.071000,663.000000,44.000000,37.500000,15.018000,1.085000,0.913500,0.480000,0.032000,0.027000
50%,9.067520e+05,24248.000000,24036.857000,23727.000000,412.000000,446.286000,657.065000,17.571000,17.418000,17.193000,0.299000,0.323000
75%,6.586594e+06,52646.000000,52738.500000,102233.500000,735.000000,759.285500,4772.879000,38.149000,38.216000,74.082000,0.532500,0.550000
max,1.016912e+07,97894.000000,93198.571000,147343.000000,2003.000000,1168.000000,7368.903000,70.937000,67.535000,106.770000,1.451000,0.846000

In [37]:
india_covid_cases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             331 non-null    datetime64[ns]
 1   total-cases                      331 non-null    int64
 2   new-cases                        331 non-null    int64
 3   new-cases-smoothed               331 non-null    float64
 4   total-deaths                     331 non-null    int64
 5   new-deaths                       331 non-null    int64
 6   new-deaths-smoothed              331 non-null    float64
 7   total-cases-per-million          331 non-null    float64
 8   new-cases-per-million            331 non-null    float64
 9   new-cases-smoothed-per-million   331 non-null    float64
 10  total-deaths-per-million         331 non-null    float64
 11  new-deaths-per-million           331 non-null    float64
 12  new-deaths-smoothed-per-million  331 non-null    float64
 13  Type                             331 non-null    object
dtypes: datetime64[ns](1), float64(8), int64(4), object(1)
memory usage: 36.3+ KB

### 2. Data Visualisation
* The main goal of this part of the project is to do EDA of the dataset and try to answer one of most important questions on the basis of Visualisation.  
* The questions which were addressed through the visualisation and analysis are:
    1. **Does COVID-19 has affected the market in India?**
    2. **What are the events which has a significant impact on Indian Market due to COVID-19?**
    3. **Is it the fear of the investors or people that led to the panic selling of securities around the world?**
    4. **How does the government reacted to the market crash and what are the policies they have implemeted in order to maintain the integrity of the market?**
    5. **Even though the market crashed in March, 2020, markets are at all-time high since then. Why?**

In [ ]:
covid_subplots = make_subplots(rows = 1, cols = 2, subplot_titles = ['China-COVID-19-Cases', 'Italy-COVID-19-Cases'])
china_covid_cases_df = covid_cases_df.loc[covid_cases_df.location == 'China', columns_of_interest]
italy_covid_cases_df = covid_cases_df.loc[covid_cases_df.location == 'Italy', columns_of_interest]
covid_subplots.add_trace(go.Scatter(x = china_covid_cases_df.date, 
                                    y = china_covid_cases_df['total-cases'], 
                                    name = 'China'), 1, 1)
covid_subplots.add_trace(go.Scatter(x = italy_covid_cases_df.date,
                                    y = italy_covid_cases_df['total-cases'], 
                                    name = 'Italy'), 1, 2)
covid_subplots.update_layout(title_text = 'China Vs Italy COVID-19 CASES', width = 990, hovermode = 'x unified', showlegend = False, template = 'simple_white')
covid_subplots.show()

world_covid_cases_lineplot = px.line(world_covid_cases_df,
                                     x = 'date',
                                     y = ['total-cases', world_covid_cases_df['total-cases'].rolling(50).mean()],
                                     title = 'World COVID-19 Cases (Total Cases Vs DMA-50)',
                                     labels = {'value': 'COVID-19 World Cases'},
                                     template = 'gridon'
                                    )
world_covid_cases_lineplot.update_traces(hovertemplate = None)
world_covid_cases_lineplot.update_xaxes(showspikes = True)
world_covid_cases_lineplot.update_yaxes(showspikes = True)
world_covid_cases_lineplot.update_layout(showlegend = False)
world_covid_cases_lineplot.show()

### Q1. Does COVID-19 has affected the market in India?

* To get the sense about how the market was affected, I find out the highest and lowest price each index in India has gone to till March 31, 2020 and from the below dataframe you can see the in just 1 year the lowest prices which the indexes has fallen to is pretty low and significant.  
* To give you gist of loss suffered by the investors, if someone has invested in these indexes through index funds or mutual funds at there all time highs before March, 2020 then they would have suffer the loss of more than `39%` and in some cases `50%` which is a huge loss.
* So it will generate the curiosity to further investigate at what period in time that has happened because indexes never fall by that much in just 1 year until something terribly wrong has happened in the Global Economy or Indian Economy.

In [ ]:
nifty_indexes_high_low_df = nifty_combined_index_df.loc[nifty_combined_index_df['Date'] <= '2020-03-31'].groupby(by = ['Type']).agg({'High': 'max', 'Low': 'min'})
nifty_indexes_high_low_df.reset_index(inplace = True)
nifty_indexes_high_low_df.loc[len(nifty_indexes_high_low_df)] = ['SENSEX', sensex_df.loc[sensex_df.Date <= '2020-03-31'].High.max(), sensex_df.loc[sensex_df.Date <= '2020-03-31'].Low.min()]
nifty_indexes_high_low_df['%-Change'] = (100 * (nifty_indexes_high_low_df['Low'] - nifty_indexes_high_low_df['High'])) / nifty_indexes_high_low_df['High']
nifty_indexes_high_low_df

* To further understand, I have created the visualisation of every index with respect to total COVID-19 cases around the world and the output was significant and confirms my hypothesis that, COVID-19 indeed has affected not just the Indian Stock Market but also the Global Markets all around the world.
* If you look at the visualisation or exihibit in the next cell, you can infer that almost all the indexes in India has fallen down on **March 24, 2020** which is just after the Janta Curfew imposed by the Govt of India which was followed up by the Ist-Lockdown by Indian Government.
* To confirm that you can look at the India-VIX graph which shows how much volatility was there in the market in March, 2020 and you can see that it is at its all time highs which means that nobody wanted to invest in the Stock Market means everybody was booking the profits from the positions which they have maintained and are afraid to invest in the market.

In [ ]:
plot_titles = ['COVID-19-WORLD-CASES', 'CBOE-OVX', 'USA WTI Crude-Oil', 'BRENT-EUROPE','INDIA-VIX', 'BSE-SENSEX', 'NIFTY-50', 'NIFTY-AUTO', 'NIFTY-BANK', 'NIFTY-FMCG', 'NIFTY-IT', 
               'NIFTY-PHARMA', 'NIFTY-MEDIA', 'NIFTY-REALTY']

plot_rows, plot_cols = 7, 2
area_plot_fig = make_subplots(rows = plot_rows, 
                              cols = plot_cols, 
                              subplot_titles = plot_titles)

area_plot_fig.add_trace(go.Scatter(x = world_covid_cases_df.date, 
                                   y = world_covid_cases_df['total-cases'], 
                                   name = 'COVID-19-Cases'), 1, 1)

area_plot_fig.add_trace(go.Scatter(x = cboe_crude_oil_vix_df.Date,
                                   y = cboe_crude_oil_vix_df.Close,
                                   name = 'CBOE-Crude-Oil-VIX'), 1, 2)

area_plot_fig.add_trace(go.Scatter(x = crude_oil_wti_df.Date, 
                                   y = crude_oil_wti_df.Value,
                                   name = 'WTI-Crude-Oil'), 2, 1)
area_plot_fig.add_trace(go.Scatter(x = brent_crude_oil_df.Date,
                                   y = brent_crude_oil_df.Value,
                                   name = 'BRENT-Europe'), 2, 2)

area_plot_fig.add_trace(go.Scatter(x = india_vix_df.Date, 
                                   y = india_vix_df.Close, 
                                   name = 'INDIA-VIX'), 3, 1)

area_plot_fig.add_trace(go.Scatter(x = sensex_df.Date,
                                   y = sensex_df.Close,
                                   name = 'SENSEX'), 3, 2)

curr_index = 6
for row_index in range(4, plot_rows + 1):
    for col_index in range(1, plot_cols + 1):
        area_plot_fig.add_trace(go.Scatter(x = nifty_combined_index_df.Date, 
                                           y = nifty_combined_index_df.loc[nifty_combined_index_df['Type'] == plot_titles[curr_index], 'Close'],
                                           name = plot_titles[curr_index]),
                                           row = row_index, 
                                           col = col_index)
        curr_index += 1

area_plot_fig.update_traces(hovertemplate = None)
area_plot_fig.update_layout(title_text= 'COVID-19-World Cases Vs USA WTI-Crude-Oil Vs BRENT-Crude Vs Indian Capital Market', 
                            height = 1000, 
                            width = 1000,
                            hovermode = 'x', 
                            template = 'gridon', 
                            showlegend = False)
area_plot_fig.update_xaxes(showspikes = True)
area_plot_fig.update_yaxes(showspikes = True)
area_plot_fig.show()

### Q2. What are the events which has a significant impact on Indian Market due to COVID-19?

* Stay Home has been the primary tool for most of the economies against COVID-19 and India was no exception to that until a viable vaccine is developed. India was put under strict lockdown for around 70 days but unfortunately the pandemic is still not under control(as per data). Government however is continuously trying to come up with measures to support the economy. The numbers are concerning because even after around 70 days of lockdown and other steps taken by government, the graph seems to be climbing up rapidly.
* As mentioned earlier it was an array of significant events which was a direct or indirect consequence of COVID-19 that has affected the Stock Market.
* The following exibits shows it in detail that how the increase in number of COVID-19 cases has resulted into events that has made the investors all around the world to sell off their positions.
* If you look at the Ist bar graphs which shows the relationships between the total number of deaths due to COVID-19 to total number of COVID-19 cases in the World and India and relate it to World Map created afterwards which shows the spread of COVID-19 as of March 23, 2020 when global markets around the world has crashed. 
* You can clearly see that intially COVID-19 started affecting the people in [Wuhan, China in Nov, 2019](https://www.scmp.com/news/china/society/article/3074991/coronavirus-chinas-first-confirmed-covid-19-case-traced-back) which was the Ist epic-centre for the pandemic but at that time people are not [taking it seriously](https://www.livemint.com/news/world/chinese-doctor-who-alerted-about-covid-19-recalls-treating-her-first-case-11587191746968.html) and are more concentrated towards their daily life and Lunar Year of China which happens just after the New Year and it is also a profit making week for the Tourism industy in China.

* As people started getting infected and more hospitals around China are getting full with patients with an unknown virus at that time which made the Chineese government to put Wuhan under strict lockdown and all the imports and exports, flights were cancelled to stop the spread of virus and that was the first red signal to all the people, investors, businesses that this could be a serious thing and it will have significant impact on the life-style but still at that time there was no panic selling happened in the market because the virus was still in the China and it was an epidemic at that time before [WHO annouced on March 11, 2020](https://time.com/5791661/who-coronavirus-pandemic-declaration/) that the COVID-19 satisfies all the conditions to be classified as a pandemic and hence COVID-19 is classified as a pandemic.

* This was a real shock annoucment by WHO and at that time Italy was the worst hit country by COVID-19 and as soon as the COVID-19 deaths started spiking in Italy, investors in India panicked. The catalyst to the fall of the Indian Stock market is when Italian government annouced the nationwide lockdown and this combined with WHO annoucement showed how serious and critical the siituation is due to COVID-19 which resulted into panic selling in the markets.

### Q3 Is it the fear of the investors or the people that led to the panic selling of securities around the world?
* Yes it is the fear of the investors that the whole world economy will go into Global Recession due to series of events caused by COVID-19.
* As mentioned earlier and will be proved by the following exibits that if the government hasn't reduced the interest rates, supported the businesses, and maintained the liquidity in the market by creating trillions of dollars of stimulus plan, we would have seen much more worse scenario then what we are seeing today in capital markets.

In [ ]:
month_list = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'August', 'Sept', 'Oct', 'Nov', 'Dec']
date_list = ['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-25']
india_cases_end_month_df = india_covid_cases_df.set_index(['date'], drop = True).loc[date_list]
world_cases_end_month_df = world_covid_cases_df.set_index(['date'], drop = True).loc[date_list]

subplot_titles = ['WORLD-COVID-19-CASES', 'INDIA-COVID-19-CASES']
covid_cases_plot = make_subplots(rows = 1, cols = 2, subplot_titles = subplot_titles)
covid_cases_plot.add_trace(go.Bar(x = month_list, y = world_cases_end_month_df['total-cases'], name = 'TOTAL-CASES'), 1, 1)
covid_cases_plot.add_trace(go.Scatter(x = month_list, y = world_cases_end_month_df['total-deaths'], name = 'TOTAL-DEATHS', line = dict(color = 'rgb(255, 0, 0)')), 1, 1)
covid_cases_plot.add_trace(go.Bar(x = month_list, y = india_cases_end_month_df['total-cases'], name = 'TOTAL-CASES'), 1, 2)
covid_cases_plot.add_trace(go.Scatter(x = month_list, y = india_cases_end_month_df['total-deaths'], name = 'TOTAL-DEATHS'), 1, 2)
covid_cases_plot.update_layout(title_text = 'WORLD Vs INDIA COVID-19 CASES', width = 990, hovermode = 'x unified', showlegend = False, template = 'simple_white')
covid_cases_plot.show()

market_crash_world_fig = px.choropleth(country_wise_covid_cases_df.loc[country_wise_covid_cases_df['date'] == '2020-03-23'],
                                       locations = 'iso-code',
                                       color = 'total-cases',
                                       title = 'WORLD-COVID-19 Cases on March 23, 2020',
                                       color_continuous_scale = 'amp',
                                       hover_name = 'location',
                                       hover_data = {'iso-code': False, 'total-deaths': True},
                                       basemap_visible = True,
                                       width = 950
                                     )
market_crash_world_fig.update_geos(visible = False,
                                   showcountries = True,
                                   coastlinewidth = 1.0
                                  )
market_crash_world_fig.update_layout(margin = {'r': 0, 'l': 0, 'b': 0})
market_crash_world_fig.show()

"""
covid_cases_choropleth_fig = px.choropleth(country_wise_covid_cases_df,
                                           locations = 'iso-code',
                                           color = 'total-cases',
                                           title = 'WORLD-COVID-19-CASES (Till March 31, 2020)',
                                           hover_data = {'iso-code': False, 'location': True, 'total-deaths': True},
                                           animation_frame = sorted(country_wise_covid_cases_df.date.astype('str')),
                                           color_continuous_scale = 'Reds',
                                           basemap_visible = True,
                                          )
covid_cases_choropleth_fig.update_geos(visible = False,
                                       showcoastlines = True,
                                       showcountries = True,
                                       resolution = 50
                                      )
covid_cases_choropleth_fig.update_layout(margin = {'r': 0, 'l': 0, 't': 0, 'b': 0})
covid_cases_choropleth_fig.show()
"""

subplot_titles = ['NIFTY-50 & SENSEX', 'INDIA-VIX']
sensex_nifty_area_plot = make_subplots(rows = 1, cols = 2, subplot_titles = subplot_titles)
sensex_nifty_area_plot.add_trace(go.Scatter(x = nifty_50_df.Date, y = 100 * nifty_50_df.Close.pct_change(), name = 'NIFTY-50', hovertemplate = '<i>%-Change</i>: %{y: .2f}%'), 1, 1)
sensex_nifty_area_plot.add_trace(go.Scatter(x = sensex_df.Date, y = 100 * sensex_df.Close.pct_change(), name = 'SENSEX', line = dict(color = 'rgb(153, 0, 76)'), hovertemplate = '<i>%-Change</i>: %{y: .2f}%'), 1, 1)
sensex_nifty_area_plot.add_trace(go.Scatter(x = india_vix_df.Date, y = india_vix_df.Close, name = 'INDIA-VIX', line = dict(color = 'rgb(255, 0, 0)')), 1, 2)

sensex_nifty_area_plot.update_layout(title_text = 'BENCHMARK-INDEXES AND INDIA-VIX', width = 990, template = 'gridon')
sensex_nifty_area_plot.update_xaxes(showspikes = True)
sensex_nifty_area_plot.update_yaxes(showspikes = True)
sensex_nifty_area_plot['layout']['xaxis']['title'] = sensex_nifty_area_plot['layout']['xaxis2']['title'] = 'Date (Jan-20 To Dec-20)'
sensex_nifty_area_plot['layout']['yaxis']['title'] = '%-Change'
sensex_nifty_area_plot['layout']['yaxis2']['title'] = 'Close'
sensex_nifty_area_plot.show()

# Sector-Wise Analysis

In [ ]:
combined_index_fig = px.line(nifty_combined_index_df, 
                             x = 'Date', 
                             y = 'Close', 
                             color = 'Type', 
                             labels = {'Date': 'Months (Jan-20 To Oct-20)', 'Close': 'Close-Price'}, 
                             title = 'NIFTY Market Indexes Performance (01-Jan-2020 to 17-Dec-2020)', 
                             template = 'gridon')

combined_index_fig.update_traces(hovertemplate = None)
combined_index_fig.update_xaxes(rangeselector = dict(buttons = [
                                dict(count=1, label="1M", step="month", stepmode="backward"),
                                dict(count=6, label="6M", step="month", stepmode="backward"),
                                dict(count=1, label="YTD", step="year", stepmode="todate"),
                                dict(count=1, label="1Y", step="year", stepmode="backward"),
                                dict(label = 'ALL', step="all")
                                ]), 
                                showspikes = True)
combined_index_fig.update_yaxes(showspikes = True)
combined_index_fig.update_layout(showlegend = False, 
                                 hovermode = 'x unified')
combined_index_fig.update_layout(height = 700, 
                                 width = 990)
combined_index_fig.show()

In [ ]:
def compute_percentage_return(curr_val, prev_val):
    return 100 * ((curr_val - prev_val) / prev_val)

In [ ]:
def index_return_bar_plot(data, x_data, title_given):
    index_returns_barplot_fig = px.bar(data,
                                   x = x_data,
                                   y = 'Index-Name',
                                   title = title_given,
                                   text = 'Index-Name',
                                   template = 'simple_white',
                                   color = x_data,
                                   color_continuous_scale = 'darkmint',
                                   hover_name = 'Index-Name',
                                   hover_data = {'Index-Name': False},
                                  )
    index_returns_barplot_fig.update_yaxes(visible = False)
    index_returns_barplot_fig.update_layout(uniformtext_minsize = 12, uniformtext_mode = 'hide')
    index_returns_barplot_fig.update_traces(textposition = 'inside')
    index_returns_barplot_fig.show()

In [ ]:
index_list = ['SENSEX', 'NIFTY-50', 'NIFTY-BANK', 'NIFTY-PHARMA', 'NIFTY-IT','NIFTY-FMCG', 'NIFTY-AUTO', 'NIFTY-MEDIA', 'NIFTY-REALTY']
index_dataframe_list = [sensex_df, nifty_50_final_df, nifty_bank_index_df, nifty_pharma_index_df, nifty_it_index_df, nifty_fmcg_index_df, nifty_auto_index_df, nifty_media_index_df, nifty_realty_index_df]
index_dataframe_indexed_list = [index_name.set_index('Date') for index_name in index_dataframe_list]

index_returns = {'Index-Name': index_list,
                 'YTD-(%-Returns)': [compute_percentage_return(index_name.loc[len(index_name) - 1]['Close'], index_name.loc[0]['Open']) for index_name in index_dataframe_list],
                 'Pre-Lockdown-(%-Returns)': [compute_percentage_return(index_name.loc['2020-03-24']['Close'], index_name.loc['2020-01-01']['Open']) for index_name in index_dataframe_indexed_list],
                 'Till Ist COVID-19 Death': [compute_percentage_return(index_name.loc['2020-03-13']['Close'], index_name.loc['2020-01-01']['Open']) for index_name in index_dataframe_indexed_list],
                 'March-2020-(%-Returns)': [compute_percentage_return(index_name.loc['2020-03-31']['Close'], index_name.loc['2020-03-02']['Open']) for index_name in index_dataframe_indexed_list],
                 'Till-Lockdown-(%-Returns)': [compute_percentage_return(index_name.loc['2020-06-01']['Open'], index_name.loc['2020-01-01']['Open']) for index_name in index_dataframe_indexed_list],
                 'Post-Lockdown-(%-Returns)': [compute_percentage_return(index_name.loc['2020-12-17']['Close'], index_name.loc['2020-06-01']['Open']) for index_name in index_dataframe_indexed_list]
                }

index_returns_df = pd.DataFrame(index_returns)

index_return_bar_plot(index_returns, 'Till-Lockdown-(%-Returns)', 'Benchmark & Sector Indices Returns (Till Lockdown)')
index_return_bar_plot(index_returns, 'YTD-(%-Returns)', 'Benchmark & Sector Indices Returns (YTD)')

In [ ]:
# India VIX Index Visualisation
india_vix_index_fig = px.line(india_vix_df, 
                              x = 'Date', 
                              y = ['Close', 'High'],
                              labels = {'Date': 'Months (Jan-20 To Dec-20)', 'value': 'Close/High'}, 
                              title = 'India VIX Index (Jan 1, 2020 - Dec 17, 2020)', 
                              template = 'gridon')
india_vix_index_fig.update_traces(hovertemplate = None)
india_vix_index_fig.update_xaxes(rangeselector = dict(buttons = [
                                dict(count=1, label="1M", step="month", stepmode="backward"),
                                dict(count=6, label="6M", step="month", stepmode="backward"),
                                dict(count=1, label="YTD", step="year", stepmode="todate"),
                                dict(count=1, label="1Y", step="year", stepmode="backward"),
                                dict(label = 'ALL', step="all")
                                ]), 
                                showspikes = True)
india_vix_index_fig.update_yaxes(showspikes = True)
india_vix_index_fig.update_layout(showlegend = False, hovermode = 'x')
india_vix_index_fig.add_annotation(x = '2020-03-09', 
                                   y = '30.8000', 
                                   text = 'Russia-Saudi-Arabia Oil Price War (Mar 9, 2020)', 
                                   ax = -20, 
                                   ay = 30, 
                                   showarrow = True, 
                                   arrowhead = 2,
                                   xanchor = 'right')
india_vix_index_fig.add_annotation(x = '2020-03-12', 
                                   y = '41.1625', 
                                   text = 'WHO declared COVID-19 as Pandemic (Mar 12, 2020)', 
                                   ax = -20, 
                                   ay = 30, 
                                   showarrow = True, 
                                   arrowhead = 2, 
                                   xanchor = 'right', 
                                   yanchor = 'top')
india_vix_index_fig.add_annotation(x = '2020-03-16',
                                   y = '58.875',
                                   text = 'Global Economic Recession (Mar 16, 2020)',
                                   ax = -20,
                                   ay = 30,
                                   showarrow = True,
                                   arrowhead = 2,
                                   xanchor = 'right',
                                   yanchor = 'top')
india_vix_index_fig.add_annotation(x = '2020-03-24', 
                                   y = '83.6075', 
                                   text = 'India Ist Lockdown Executed (Mar 24, 2020)', 
                                   ax = -20, 
                                   ay = 30, 
                                   showarrow = True, 
                                   arrowhead = 2)
india_vix_index_fig.show()


# BSE Sensex Price Action Visualisation
sensex_fig = px.line(sensex_df, 
                     x = 'Date', 
                     y = ['Close', 'Low'], 
                     labels = {'Date': 'Months (Jan-20 To Dec-20)', 'value': 'Close/Low'},
                     title = 'BSE SENSEX (Jan 01, 2020 - Dec 17, 2020)',
                     template = 'gridon')

sensex_fig.update_traces(hovertemplate = None)
sensex_fig.update_xaxes(rangeselector = dict(buttons = [
                                dict(count=1, label="1M", step="month", stepmode="backward"),
                                dict(count=6, label="6M", step="month", stepmode="backward"),
                                dict(count=1, label="YTD", step="year", stepmode="todate"),
                                dict(count=1, label="1Y", step="year", stepmode="backward"),
                                dict(label = 'ALL', step="all")
                                ]), 
                                showspikes = True)
sensex_fig.update_yaxes(showspikes = True)
sensex_fig.update_layout(showlegend = False, hovermode = 'x')
sensex_fig.add_annotation(x = '2020-03-09',
                          y = '35634.95',
                          ax = -20,
                          ay = 30,
                          text = 'Russia-Saudi-Arabia Oil Price War (Mar 9, 2020)',
                          showarrow = True,
                          arrowhead = 2,
                          xanchor = 'right')
sensex_fig.add_annotation(x = '2020-03-12',
                          y = '32778.14',
                          ax = -20,
                          ay = 30,
                          text = 'WHO declared COVID-19 as Pandemic (Mar 12, 2020)',
                          showarrow = True,
                          arrowhead = 2,
                          xanchor = 'right',
                          yanchor = 'top')
sensex_fig.add_annotation(x = '2020-03-16',
                          y = '31390.07',
                          ax = -20,
                          ay = 30,
                          text = 'Global Economic Recession (Mar 16, 2020)',
                          showarrow = True,
                          arrowhead = 2,
                          xanchor = 'right',
                          yanchor = 'top')
sensex_fig.add_annotation(x = '2020-03-24',
                          y = '26674.03',
                          ax = -20,
                          ay = 30,
                          text = 'India Ist Lockdown Executed (Mar 24, 2020)',
                          showarrow = True,
                          arrowhead = 2)
sensex_fig.show()

# Nifty-50 Price Action Visualisation
nifty_50_index_fig = px.line(nifty_50_final_df, 
                             x = 'Date', 
                             y = ['Close', 'Low'], 
                             labels = {'Date': 'Months (Jan-20 To Dec-20)', 'value': '(Close/Low)'}, 
                             title = 'NIFTY-50 Index (Jan 01, 2020 - Dec 17, 2020)', 
                             template = 'gridon')
nifty_50_index_fig.update_traces(hovertemplate = None)
nifty_50_index_fig.update_xaxes(rangeselector = dict(buttons = [
                                dict(count=1, label="1M", step="month", stepmode="backward"),
                                dict(count=6, label="6M", step="month", stepmode="backward"),
                                dict(count=1, label="YTD", step="year", stepmode="todate"),
                                dict(count=1, label="1Y", step="year", stepmode="backward"),
                                dict(label = 'ALL', step="all")
                                ]), 
                                showspikes = True)
nifty_50_index_fig.update_yaxes(showspikes = True)
nifty_50_index_fig.update_layout(height = 600, width = 1000, showlegend = False, hovermode = 'x')
nifty_50_index_fig.add_annotation(x = '2020-03-09', 
                                  y = '10451.45', 
                                  text = 'Russia-Saudi-Arabia Oil Price War (Mar 9, 2020)', 
                                  ax = -20, 
                                  ay = 30, 
                                  showarrow = True, 
                                  arrowhead = 2,
                                  xanchor = 'right')
nifty_50_index_fig.add_annotation(x = '2020-03-12', 
                                  y = '9590.15', 
                                  text = 'WHO declared COVID-19 as Pandemic (Mar 12, 2020)', 
                                  ax = -20, 
                                  ay = 30, 
                                  showarrow = True, 
                                  arrowhead = 2, 
                                  xanchor = 'right', 
                                  yanchor = 'top')
nifty_50_index_fig.add_annotation(x = '2020-03-16',
                                  y = '9197.4',
                                  text = 'Global Economic Recession (Mar 16, 2020)',
                                  ax = -20,
                                  ay = 30,
                                  showarrow = True,
                                  arrowhead = 2,
                                  xanchor = 'right',
                                  yanchor = 'top')
nifty_50_index_fig.add_annotation(x = '2020-03-24', 
                                  y = '7801.05', 
                                  text = 'India Ist Lockdown Executed (Mar 24, 2020)', 
                                  ax = -20, 
                                  ay = 30, 
                                  showarrow = True, 
                                  arrowhead = 2, 
                                  xanchor = 'right', 
                                  yanchor = 'bottom')
nifty_50_index_fig.show()

* Interestingly, the market witnessed a recovery like never before. There are several reasons why we are seeing the rally. One of reason being the sentiment changed related to COVID-19 which we will see through the Google Trends analysis. This might be because of the flattening of the curve across various parts of the globe.  
The second reason being the unprecedented economic packages announced by the government.

# Sentiment Analysis

### Google-Trends Analysis
* Python programming language provides a library [**pytrends**](https://pypi.org/project/pytrends/) using which I can get the data from Google Trends about any topic which was most searched with respect to geographical location, year etc

In [ ]:
covid_trends = TrendReq(hl = 'en-US', tz = 360)
search_keywords = ['Coronavirus']
covid_trends.build_payload(kw_list = search_keywords, timeframe = '2020-01-01 2020-12-31')
search_interest_over_time_df = covid_trends.interest_over_time().reset_index()
search_interest_over_time_df.rename(columns = {'Coronavirus': 'Total-Searches'}, inplace = True)
search_interest_by_regions_df = covid_trends.interest_by_region().reset_index()
search_interest_by_regions_df.rename(columns = {'geoName': 'Country', 'Coronavirus': 'Total-Searches'}, inplace = True)
iso_code_lookup = {country: iso_code for iso_code, country in zip(covid_cases_df['iso-code'].unique().tolist(), covid_cases_df['location'].unique().tolist())}
iso_code_lookup.pop('World')
search_interest_by_regions_df['ISO-Code'] = search_interest_by_regions_df['Country'].apply(lambda country_name: iso_code_lookup.get(country_name, np.nan))

In [ ]:
search_interest_line_plot = px.line(search_interest_over_time_df,
                                    x = 'date',
                                    y = 'Total-Searches',
                                    title = 'Coronavirus Keyword Search Traffic (Scale of 100)',
                                    template = 'simple_white'
                                   )
search_interest_line_plot.update_traces(fill = "tonexty")
search_interest_line_plot.update_xaxes(showspikes = True)
search_interest_line_plot.update_yaxes(showspikes = True)
search_interest_line_plot.update_layout(hovermode = 'closest')
search_interest_line_plot.show()

search_interest_region_map = px.choropleth(search_interest_by_regions_df,
                                           locations = 'ISO-Code', 
                                           color = 'Total-Searches',
                                           color_continuous_scale = 'Reds',
                                           title = 'Country-Wise Coronavirus Keyword Search Traffic (Scale of 100)',
                                           hover_name = 'Country',
                                           hover_data = {'ISO-Code': False}
                                          )
search_interest_region_map.update_geos(visible = False,
                                       showcountries = True,
                                       coastlinewidth = 1.0
                                      )
search_interest_region_map.update_layout(margin = {'l': 0, 'r': 0, 'b': 0})
search_interest_region_map.show()

# print(covid_trends.related_queries()['Coronavirus']['top'])
related_searches_bar_plot = px.bar(covid_trends.related_queries()['Coronavirus']['top'],
                                   x = 'query',
                                   y = 'value',
                                   text = 'query',
                                   labels = {'value': 'Searched Queries (Scale of 100)'},
                                   color_continuous_scale = 'Blues',
                                   template = 'gridon')
related_searches_bar_plot.update_xaxes(visible = False)
related_searches_bar_plot.update_layout(uniformtext_minsize = 12)
related_searches_bar_plot.show()

## 3. Future Works

* The best way to measure the sentiment of the people is by doing the association rule mining and sentiment analysis of tweets written by people all around the world on twitter during this time period because almost every politician, CEOs, leaders etc are on twitter and they use it as a platform to convey their views.

* After doing twitter sentiment analysis and relating it to the fall of the market will give me an opportunity to publish a research paper and make my work presentable in the researh community.

## 4. Conclusion

* The main conclusions drawn from the above work are: 
    1. **Market was reacting in anticipation and the effect of Globalization.** The market downturn was influenced by a non-economic factor and it has affected almost all of the sectors of the economy. But one more question arises at the same time that how come only one event i.e. COVID-19 pandemic has made the market fall by that much, more clearly **Does COVID-19 is the only reason for the fall happened?** and the answer is Yes but not just COVID-19 rather the sequence of events caused by COVID-19 like countries imposing strict lockdown policies, businesses are shutting down their daily operations except the pharmaceutical and consumer discretionary sectors, MSMEs (Micro, Small & Medium Enterprises) are severely affected due to lockdowns, people all around the world were panicking (which is not good) under the impression of Global Recession and at the same time there was a war on Oil Prices which had happened between Saudi-Arabia and Russia which made the market fall further in March and April of 2020.

    2. COVID-19 is still there and it is affecting people at a pace but markets all around the world are at all time highs just after the fall of March, 2020 which is a contradiction to my initial hyphothesis that even though COVID-19 has made the market fall sharply, then how come the markets recovered so quickly in just 8-9 months?